<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/apropos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>    
    <title>A propos de nous</title>
</head>
<%- include('partials/navbar') %>
<body>
    <br> <br> <br>
  <main>
<br>
    <!-- Présentation équipe TS9 -->
    <h6>
        Présentation de l’équipe TS9 – Votre fenêtre sur la culture mahoraise. <br>
        Derrière chaque émission, chaque image et chaque son, se cache une équipe passionnée, engagée à vous offrir des programmes authentiques et de qualité.</h6>
    <br>

    <!--Cartes Membres équipe -->

    <div class="cards-container">
        <div class="card">
          <img src="images/tsphoto.jpeg" alt="Avatar" style="width: 300px;">
          <div class="container">
            <% resultat.forEach (d => { %>
              <h4><b> <%=d.prenom%> <%=d.nom%></b></h4>
              <p><%=d.poste%></p>
            <% }) %>
          </div>
        </div>
      
        <div class="card">
          <img src="images/adbourahimmadi1.JPG" alt="Avatar" style="width: 300px;">
          <div class="container">
            <h4><b>Abdourahim Madi</b></h4>
            <p>Chef d’émission</p>
          </div>
        </div>
      
        <div class="card">
          <img src="images/salimatianfani.JPG" alt="Avatar" style="width: 300px;">
          <div class="container">
            <h4><b>Salimati Anfani</b></h4>
            <p>Programmeuse d’émission</p>
          </div>
        </div>

        <div class="card">
            <img src="images/djamilahamada.JPG" alt="Avatar" style="width: 300px;">
            <div class="container">
              <h4><b>Djamila Saïd Ali & Ahmed Baco</b></h4>
              <p>Caméramans</p>
            </div>
          </div>
    <br> <br> <br> <br>
          <div class="card">
            <img src="images/bacarsoidri.jpg" alt="Avatar" style="width: 300px;">
            <div class="container">
              <h4><b>Bacar Soidri</b></h4>
              <p>Ingénieur du son</p>
            </div>
          </div>

          <div class="card">
            <img src="images/youssoufchamsudine.jpg" alt="Avatar" style="width: 300px;">
            <div class="container">
              <h4><b>Youssouf Chamsudine</b></h4>
              <p>Réalisateur</p>
            </div>
          </div>

          <div class="card">
            <img src="images/ramatousoufiani.jpg" alt="Avatar" style="width: 300px;">
            <div class="container">
              <h4><b>Ramatou Soufiani</b></h4>
              <p>Présentatrice d’émission</p>
            </div>
          </div>

          <div class="card">
            <img src="images/malikissa.jpg" alt="Avatar" style="width: 300px;">
            <div class="container">
              <h4><b>Malik Issa</b></h4>
              <p>Présentateur d’émission</p>
            </div>
          </div>
      </div>
      
    <br> <br>

    <!-- Phrase de fin -->
        <br> <br>
      <h6 class="famille"> Chez TS9, nous sommes plus qu’une équipe : nous sommes une famille, unie par la passion de notre culture et le désir de la partager avec vous. Merci de nous suivre et de faire partie de cette belle aventure ! </h6>
    <br> <br> <br>
  </main>
</body>
<%- include('partials/footer') %>

</html>