<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inscription.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>
    <title>Modifier Mon Profil</title>
</head>

<%- include('partials/navbar') %>

<body>
    
    <br> <br> <br> <br>
    <!-- <br> -->

<h3 class="form-title">Modifier mon profil:</h3>

<form action="/modifierprofil" method="post">
    <fieldset>
        <!-- Nom -->
        <i class="fa fa-user icon"></i>
        <p><%= prenom %> <%= nom %></p>
        <button type="button" class="btn" onclick="openInput('nameInput')">Modifier</button> <!-- Bouton Modifier -->
        <br> 
        <div id="nameInput" style="display: none;">
            <input type="text" placeholder="Entrez votre nom complet">
            <br><br>
            <button type="button" class="btn" onclick="closeInput('nameInput')">Annuler</button> <!-- Bouton Annuler -->
            <br><br>
        </div>

        <!-- Email -->
        <i class="fa fa-envelope icon"></i>
        <p><%= email %></p>
        <button type="button" class="btn" onclick="openInput('emailInput')">Modifier</button>
        <br> 
        <div id="emailInput" style="display: none;">
            <input type="text" placeholder="Entrez votre adresse mail" value="">
            <br><br>
            <button type="button" class="btn" onclick="closeInput('emailInput')">Annuler</button>
            <br><br>
        </div>

        <!-- Mot de passe -->
        <i class="fa fa-key icon"></i>
        <p><%= motdepasse %> ************</p>
        
        <button type="button" class="btn" onclick="openInput('passwordInput')">Modifier</button>
        <br> 
        <div id="passwordInput" style="display: none;">
            <input type="password" placeholder="Entrez votre ancien mot de passe">
            <br><br>
            <input type="password" placeholder="Entrez votre nouveau mot de passe">
            <br><br>
            <button type="button" class="btn" onclick="closeInput('passwordInput')">Annuler</button>
        </div>
        <br>
        <button class="btn">Enregistrer</button>
    </fieldset>
</form>
<br><br><br><br><br>

</body>

<script>
function openInput(id) {
    document.getElementById(id).style.display = "block";
}

function closeInput(id) {
    document.getElementById(id).style.display = "none";
}
</script>

<%- include('partials/footer') %>

</html>