<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ptv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>
    <title>Programme TV</title>
</head>
<%- include('partials/navbar') %>

<body>
    <br> <br> <br> <br> <br> <br> <br>
<!-- PROGRAMME TV -->
    <h2>Programme TV</h2>
    <table>
        <thead>
        <!--Lundi-->  
        
        <th>Lundi</th>  
        </thead>

        <tbody>
            <% resultat.forEach (l => { %>
                <tr> <td><%= l.heure_diffusion %> - <%= l.nom_programme %> - <%= l.description %></td></tr>
                <% }) %>

    <br>

<!-- Mardi -->
    <th>Mardi</th>
    <tr>
        <td>07h30 - Kawéni Art - Le Tressage en Feuilles de Cocotier:
            Les techniques ancestrales pour fabriquer paniers et chapeaux.</td>
    </tr>
    <tr>
        <td>11h00 - Marashi ya Maoré - Secrets de Fabrication:
            Découverte des plantes aromatiques et du processus de distillation du Ylang-Ylang.</td>
    </tr>
    <tr>
        <td>12h00 - Narilé: Emission Culinaire</td>
    </tr>

    <tr>
        <td>16h30 - Artisans de l'île : Portraits d’artisans locaux mettant en valeur leur savoir-faire et leur passion.</td>
    </tr>
    
    <tr>
        <td>20h00 - Histoires de Mélodies:
            Analyse des origines et des influences de la musique mahoraise</td>
    </tr>

    <!-- Mercredi -->
        <th>Mercredi</th>
        <tr>
            <td>08h00 - Apprentis Mbiwi - Apprendre à Jouer & Danser: Un atelier interactif sur le Mbiwi.</td>
        </tr>
            <tr>
                <td>12h00 - Narilé: Emission Culinaire</td>
            </tr>

            <tr>
                <td>14h00 - Battle de Chigoma: Concours de danses traditionnelles entre villages.</td>
            </tr> 
            
        <tr>
            <td>17h00 - Baobab Culture : Exploration des traditions orales, du patrimoine historique et des coutumes de Mayotte.</td>
        </tr>  
        
        <tr>
            <td>19h30 - Tsenga Live - Concert de Musique Mahoraise:
                Les meilleurs artistes de l’île sur scène.</td>
        </tr>

        <!-- Jeudi -->
        <th>Jeudi</th>
        <tr>
            <td>06h00 - Narilawé - Les Monts et Légendes:
        Randonnée commentée à la découverte des sites sacrés.</td>
        </tr>
        
        <tr>
            <td>10h00 - Uzihira :
        Les guérisseurs expliquent l’utilisation des plantes locales.</td>
        </tr>

        <tr>
            <td>12h00 - Narilé: Emission Culinaire</td>
        </tr>

        <tr>
            <td>17h00 - Baobab Culture : Exploration des traditions orales, du patrimoine historique et des coutumes de Mayotte.</td>
        </tr>

        <tr><td>20h30 - Le Grand Débat Culturel :
            Discussion sur la préservation du patrimoine culturel mahorais.</td></tr>

            <!-- Vendredi -->
        <th>Vendredi</th>
            <tr>
            <td>07h00 - Les Petits Mahorais : Apprentissages Ancestraux 
                Les enfants découvrent les métiers et traditions d’antan.</td>
            </tr>   

            <tr><td>10h00 - Maoré Ya Jana Na Ya Lewo:
                Un documentaire sur l’évolution des traditions et des modes de vie.</td></tr>
            
            <tr>
                <td>12h00 - Narilé: Emission Culinaire</td>
            </tr>

                <tr>
                    <td>14h00 - Udjama - Rôles et Traditions:
                Un regard sur les coutumes familiales et les cérémonies.</td>
                </tr>

                <tr>
                    <td>16h30 - Le Grand Marché de Mamoudzou:
                Immersion au cœur du plus grand marché de l’île.</td>
                </tr>
                <tr>
                    <td>21h30 - Droit de Parole : La Jeunesse Face aux Traditions 
                Débat sur la transmission des valeurs culturelles aux nouvelles générations.</td>
                </tr>
                
        
                <!-- Samedi -->
        <th>Samedi</th>
        <tr>
            <td>08h00 - Apprentis Mbiwi - Apprendre à Jouer & Danser: Un atelier interactif sur le Mbiwi.</td>
        </tr>

        <tr>
            <td>10h00 - Haroussi : Entre Tradition & Modernité 
                Plongée dans une cérémonie de mariage typique.</td>
        </tr>
        <tr>
            <td>12h00 - Initiation aux Rites de Passage -
                Explication des grandes étapes de la vie : circoncision, mariage, funérailles.</td>
        </tr>

        <tr>
            <td>14h00 - Battle de Chigoma: Concours de danses traditionnelles entre villages.</td>
        </tr>

        <tr>
            <td>18h00 - Le Banquet des Saveurs : Cuisine des Fêtes
                Focus sur les plats traditionnels des grandes occasions.</td>
        </tr>   
                
            <tr>
                <td>22h00 - Soirée Mahoraise : Musique et Danses Festives
                Concerts et spectacles pour terminer la semaine en beauté.</td>
            </tr>
                
<!-- Dimanche -->
        <th>Dimanche</th>
        <tr>
            <td>08h00 - Grands Personnages de Mayotte -
                Portraits des figures historiques et influentes de l’île.</td>
        </tr>
        

        <tr>
            <td>11h30 - Mila Zatru -
                Les tabous et traditions qui ont façonné la société mahoraise.</td>
        </tr>
               
        <tr>
            <td>16h00 - Documentaire - La Mer, Notre Héritage:
                Rôle de l’océan dans la vie et la culture des Mahorais.</td>
        </tr>
            
        <tr>
            <td>20h30 - Mayotte en Images - Archives & Témoignages:
                Une rétrospective sur l’évolution de l’île au fil des décennies.</td>
        </tr>
                
    </tbody>
</table>

<br>

<button><a href="formptv" target="_blank">Créer Un Programme</a></button>

<br>

</body>
<%- include('partials/footer') %>

</html>